.spinner {
  animation: rotate 1s linear infinite;
}

.spinnerPath {
  stroke: currentColor;
  stroke-linecap: round;
  animation: dash 1s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 50;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 30, 50;
    stroke-dashoffset: -12;
  }
  100% {
    stroke-dasharray: 30, 50;
    stroke-dashoffset: -42;
  }
}
