@use '@styles/variables' as *;

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.spinner {
  animation: rotate 1.5s linear infinite;
  width: 50px;
  height: 50px;
}

.path {
  stroke: $primary-color;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.loadingText {
  margin-top: $spacing-md;
  font-size: $font-md;
  color: $text-muted;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
