@use '@styles/variables' as *;

.timeEntryItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-md;
  border-radius: $border-radius-sm;
  transition: background-color $transition-duration-normal $transition-timing;
}

.expandedItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-sm 0;
}

.expandedList {
  padding: $spacing-sm $spacing-md;
  border-radius: $border-radius-sm;
  margin: $spacing-sm 0 0;
}
